<div id="post-{{id}}" class="card">
    <div id="card-image">
    <img class = "card-image" src="{{thumbnail}}" alt="Missing Image">
</div>
    <div class="card-body">
        <p class="card-title">Title: {{title}}</p>
        <p class="card-text">Caption: {{description}}</p>
        <a href="/post/{{id}}" class="anchor-buttons">Post Details</a>
    </div>

</div>